/* src/MainPage.css */
.main-page {
  display: flex;
}

.content {
  margin-left: 0;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.content.sidebar-open {
  margin-left: 250px; /* Adjust according to the width of your sidebar */
}

.menu-button {
  position: absolute;
  background-color: transparent;
  left: 5px;
  width: 5%;
  top: 10px;
  padding: 1px;
  font-size: 24px;
  color: white;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is above other content */
}

.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table th {
  background-color: #f2f2f2;
}
